.galery {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 30px;
}

.card {
    border-radius: 5px;
    box-sizing: border-box;
    margin: 15px auto 15px auto;
    border: 2px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.link:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-img,
.card-body {
    margin: 10px;
    object-fit: cover;
    width: calc(100% - 20px);
}



/* DESKTOP */
@media only screen and (min-width: 768px) {
    .vertical-card {
        min-width: 300px;
        max-width: 300px;
    }
    .galery-imgs .card-img {
        height: 280px;
    }
}

/* MOBILE PHONES */
@media only screen and (max-width: 768px) {
    .galery-imgs .card {
        width: 280px;
        height: 280px;
    }

    .galery-imgs .card-img {
        height: calc(100% - 20px);
    }
    .card .card-img {
        width: calc(100% - 20px);
    }
}