* {
	--dark: #222831;
	--gray: #e0ece4;
	--white: #ffffff;
	--yellow: #fbd46d;
	--orange: #ed8240;
	font-family: "Arimo", sans-serif;
}

a {
	text-decoration: none;
}

@keyframes welcome {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	/* welcome animation */
	animation: welcome 1.5s;
	/* Doing this to keep the footer at buttom (no matter what) */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* ---- NAV ----*/
nav {
	background-color: var(--dark);
	/* In any case, the nav always gonna be at: */
	top: 0;
	left: 0;
	z-index: 1;
}

nav a,
nav img,
nav #nav-bit-info {
	margin: 20px;
	padding: 10px;
	border-radius: 3px;
	color: var(--gray);
	box-sizing: border-box;
}
nav img,
nav hr {
	padding: 0;
	max-width: calc(200px - 40px);
	background-color: var(--gray);
}

nav #nav-bit-info {
	/* The bit info after the image on nav */
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
nav a {
	background: transparent;
	background: linear-gradient(to right, #fbd46d, #fbd46d 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}
nav a:hover {
	color: var(--dark);
	background-position: 0 100%;
}

#this {
	color: var(--dark);
	background-color: var(--orange);
}

h1 {
	font-family: "Caveat", cursive;
	font-size: 68px;
	margin-top: 5px;
	margin-bottom: 5px;
}

main {
	/* Doing this to keep the footer at buttom (no matter what) */
	flex: 1;
}

main.index {
	/* center verticaly the main part (for index and 404 page) */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header > *,
main.index > * {
	margin-top: 10px;
	max-width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

footer {
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	color: var(--dark);
	background-color: var(--gray);
}

footer a {
	color: var(--orange);
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
	nav {
		/* Put the nav al the left */
		height: 100%;
		width: 200px;
		position: fixed;
	}

	nav a {
		display: block;
	}
	main,
	header,
	footer {
		margin-left: 200px;
		width: calc(100% - 200px);
	}
}

/* MOBILE PHONES */

@media only screen and (max-width: 768px) {
	nav {
		text-align: center;
	}
	nav a {
		display: inline-block;
	}
	header,
	main,
	footer {
		width: 100%;
	}
}
