<nav>
  {% include font-size.html %}
  {% include toggle-theme.html %}
  {% include toggle-lang.html %}

  {% if page.lang == "es" %}
    {% assign navigation = site.data.navigation.es %}
  {% else %}
    {% assign navigation = site.data.navigation.en %}
  {% endif %}

  {% for item in navigation %}
    {% if page.permalink == item.link %}      
      {% assign active = "active" %} 
    {% else %}
      {% assign active = "" %} 
    {% endif %}

    <a
      href="{{ item.link | | absolute_url }}"
      title="{{ item.name }}"
      class="nav-link {{active}}">
      
      <span class="emoji">{{ item.emoji }}</span>
      <span class="title">{{ item.name | capitalize}}</span>
    </a>

  {% endfor %}
</nav>
