<nav>

  {% if page.lang == "es" %}
    {% assign navigation = site.data.navigation.es %}
  {% else %}
    {% assign navigation = site.data.navigation.en %}
  {% endif %}

  <div>
    {% for item in navigation %}
      
    {% if page.permalink == item.link %}      
        {% assign active = "active" %} 
      {% else %}
        {% assign active = "" %} 
      {% endif %}
      
      <a
        href="{{ item.link | | absolute_url }}"
        title="{{ item.name }}"
        class="nav-link {{active}}">
        
        <span class="emoji">{{ item.emoji }}</span>
        <span class="title">{{ item.name | capitalize}}</span>
      </a>
    {% endfor %}
  </div>

  <div class="right">
    {% include toggle-theme.html %}
    {% include toggle-lang.html %}
    {% include toggle-fullscream.html %}
  </div>

</nav>
