.home {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
    }

    .skills {
        width: 100%;
        box-sizing: content-box;

        .skill {
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 640px) {
    .home {
        justify-content: flex-start;

        .col-2 {
            flex-direction: column;

            col {
                width: 100%;
            }
        }
    }
}