<!DOCTYPE html>
<html lang="en" class="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
        
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">
        
    </head>
    <body>
        {% include aside.html %}
        
        <main>
            {% include nav.html %}

            <div class="content">
                {{ content }}
            </div>
        </main>
    </body>
</html>
