<!DOCTYPE html>
<html lang="en" class="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
        
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">
        
        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | absolute_url }}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="{{ '/assets/icons/safari-pinned-tab.svg' | absolute_url}}" color="#e02f65">
        <meta name="msapplication-TileColor" content="#e02f65">
        <meta name="theme-color" content="#e02f65">

    </head>
    <body>
        {% include aside.html %}
        
        <main>
            {% include nav.html %}

            <div class="content">
                {{ content }}
            </div>
        </main>
    </body>
</html>
